<!doctype html>
<html lang="en">
<head>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>AskWise</title>
<style>
    .form-group{
        height:170px;
    }
    .answer{
        height:100px;
    }
    
</style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(217, 54, 54)">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <div class ="text-white mb-5 mb-lg-0 "><h2>AskWise</h2></div>
            <form class="d-flex mx-auto">
              <input class="form-control me-2 col-lg-7 aria-hidden="true"" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light " type="submit">Search</button>
            </form> 
            <div class="d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
              <a href="{% url 'ask_view' %}" class="btn btn-primary ml-3">
                <i class="fa fa-plus"></i> New thread
              </a>
            </div>
  
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'mytopics_view' %}">My Topics</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">View Profile</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
 <br>
 <br>
  <!-- Question and Answers -->
  <div class="container">
    <!-- Question Title and Description -->
    <div class="jumbotron border">
      <h1>Dynamic HTML Table: Bootstrap, PHP, MySQL, JS/jQuery Filtering</h1>
      <p>How would you dynamically generate a responsive HTML table using Bootstrap, populate it with data retrieved from a MySQL database using PHP, and then apply client-side filtering functionality using JavaScript and jQuery?</p>
      <i>Asked by: Web_Is_Fun</i>
      
    </div>
  </div>
<br>
  <div class="container">
    <!-- Answers -->

      <div class="col-md-12 container border ">
        <h2>Answers:</h2>
        <hr> <!-- Section separator -->
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                Answer 2
              </p>
              <p>
                Another answer goes here.
              </p>
              <i>Answered by: AnotherUser</i>
            </div>
          </div>
        </div>
        <hr> <!-- Section separator -->
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
                Answer 2
              </p>
              <p>
                Another answer goes here.
              </p>
              <i>Answered by: AnotherUser</i>
            </div>
          </div>
        </div>
      <hr> <!-- Section separator -->
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              Answer 2
            </p>
            <p>
              Another answer goes here.
            </p>
            <i>Answered by: AnotherUser</i>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <!-- Answer Editor -->
  <div class="row ">
    <div class="col-md-12 ">
      <div class="panel panel-default container">
        <div class="panel-body ">
          <form>
            <div class="form-group ">
              <label for="answer"><h2>Your Answer:</h2></label>
              <input type="text" class="form-control answer" id="answer" placeholder="Enter your answer">
            </div>
            <button type="submit" class="btn btn-primary">Post Your Answer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" integrity="sha512-9UnhJkSBymEKJw5Yb+01/QaD/Y4n7SF5zGs4yeaL4pDIi0W04OycEd+kWz9vfzYCTYnRIN6o7SSnbNGBo2KIFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-Xsfw/GX7LyRqbMub8ArAB1bLOm5mBRxlArYOPb7sEewz5jSFF9DoVD0JQ7xk6fVEY6ON3HhUQyjJuSTj9kY9oA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-F7s4SjH1cEkYYfqz9m3p8eJ1blzkUaEvigv3jstb3RCziL5xMpbhXaR0IvJG/5bMIMMWFXChhGKJKLg8JZZM1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  // Add your JavaScript code here
</script>
</body>

</html>
